<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Координаты</title>
</head>
<body>
<form th:action="@{/updateTable}" method="post">
<table border="1" cellpadding="5" style="border-collapse: collapse; border:1px solid black">
    <thead>
    <tr>
        <th>id</th>
        <th>широта</th>
        <th>долгота</th>
        <th>азимут</th>
        <th>скорость</th>
        <th>время</th>
        <th>устройство</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="coord : ${coords}">
        <td><span th:text="${coord.id}"></span></td>
        <td><span th:text="${coord.lat}"></span></td>
        <td><span th:text="${coord.lon}"></span></td>
        <td><span th:text="${coord.azimuth}"></span></td>
        <td><span th:text="${coord.speed}"></span></td>
        <td><span th:text="${coord.time}"></span></td>
        <td><span th:text="${coord.device}"></span></td>
    </tr>
    </tbody>
</table>
</form>
<p>Кликните <a th:href="@{/updateTable}">здесь</a>, для редактирования</p>

</body>
</html>